# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution/packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints


# Keep .gitkeep files
!.gitkeep
# data files
data/
outputs/
