# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution/packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Keep .gitkeep files
!.gitkeep

# Data files
data/
outputs/
.csv
.png

# macOS
.DS_Store

# IDE specific
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Editor specific
*.swp